#!/usr/bin/env zsh

set -eufo pipefail

trap 'killall Dock' EXIT

dockutil --no-restart --remove all

dockutil --no-restart --add "/System/Applications/Apps.app"
dockutil --no-restart --add "/System/Applications/System Settings.app"
dockutil --no-restart --add "/Applications/Spotify.app"
dockutil --no-restart --add "/Applications/Beeper Desktop.app"
dockutil --no-restart --add "/Applications/Ghostty.app"

dockutil --no-restart --add '~/Downloads' --view fan --display stack --sort dateadded --section others
