#!/usr/bin/env zsh

set -eufo pipefail

{{ $brews := list
     "awscli"
     "aws-sso-cli"
     "bat"
     "chezmoi"
     "eksctl"
     "fish"
     "granted"
     "saml2aws"
     "starship" -}}
{{ $casks := list
     "discord"
     "ghostty"
     "obsidian" -}}

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
