#!/usr/bin/env zsh

set -eufo pipefail

{{- $hostname := .hostname -}}
{{- $common := index .packages.common.darwin -}}
{{- $host := index .packages.hosts $hostname -}}
{{- $hostDarwin := dict -}}
{{- if $host -}}
{{-   $hostDarwin = $host.darwin | default dict -}}
{{- end }}

{{- /* Merge common and host-specific lists */ -}}
{{- $brews := $common.brews -}}
{{- if $hostDarwin.brews -}}
{{-   $brews = concat $brews $hostDarwin.brews -}}
{{- end }}

{{- $casks := $common.casks -}}
{{- if $hostDarwin.casks -}}
{{-   $casks = concat $casks $hostDarwin.casks -}}
{{- end }}

{{- $vscode := $common.vscode -}}
{{- if $hostDarwin.vscode -}}
{{-   $vscode = concat $vscode $hostDarwin.vscode -}}
{{- end }}

/opt/homebrew/bin/brew bundle --file=/dev/stdin --cleanup <<EOF
{{ range $brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range $casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $vscode -}}
vscode {{ . | quote }}
{{ end -}}
EOF
