#!/usr/bin/env zsh

set -eufo pipefail

trap 'killall Dock' EXIT

dockutil --no-restart --remove all

dockutil --no-restart --add "/System/Applications/Apps.app"
dockutil --no-restart --add "/System/Applications/System Settings.app"
dockutil --no-restart --add "/Applications/Ghostty.app"
