#!/usr/bin/env zsh

set -eufo pipefail

trap 'killall Dock' EXIT

dockutil --no-restart --remove all

dockutil --no-restart --add "/System/Applications/Apps.app"
dockutil --no-restart --add "/System/Applications/System Settings.app"
dockutil --no-restart --add "/Applications/Spotify.app"
dockutil --no-restart --add "/Applications/Beeper Desktop.app"
dockutil --no-restart --add "/Applications/Microsoft Teams.app"
dockutil --no-restart --add "/Applications/Slack.app"
dockutil --no-restart --add "/Applications/Visual Studio Code.app"
dockutil --no-restart --add "/Applications/Ghostty.app"
dockutil --no-restart --add "/Applications/1Password.app"
dockutil --no-restart --add "/Applications/Orion.app"
dockutil --no-restart --add "~/Applications/Orion/Orion Profiles/3401AC76-6D63-4217-BEE0-55FE75051E28/Orion - Work (WBD).app"
dockutil --no-restart --add "~/Applications/Orion/Orion Profiles/A257F2DF-46A0-4206-8800-35F73B94F2B8/Orion - Work (Intive).app"
dockutil --no-restart --add "~/Applications/Orion/Orion Profiles/C91F8F12-C809-4147-B885-3A5B6B87E525/Orion - AGH.app"

dockutil --no-restart --add '~/Downloads' --view fan --display stack --sort dateadded --section others
