auto_sync = true
search_mode = "prefix"
sync_address = "https://atuin.janpuc.com"
sync_frequency = "5m"

[daemon]
autostart = true
enabled = true
socket_path = {{ joinPath .chezmoi.homeDir ".local/share/atuin/daemon.sock" | quote }}

[theme]
name = "catppuccin-mocha-blue"
