SAML2AWS_USERNAME="op://Work/WBD/username"
SAML2AWS_PASSWORD="op://Work/WBD/password"
SAML2AWS_MFA_TOKEN="op://Work/WBD/one-time password?attribute=otp"
SAML2AWS_URL="op://Work/AWS/DSC"
SAML2AWS_SAML_CACHE_FILE="{{ .chezmoi.homeDir }}/.aws/saml2aws/DSC/cache"
